body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://lh3.googleusercontent.com/proxy/3jm01UrKqX5As_qh086_XztAAC5SDSEWdRfjEB07P4FgH0BzkSWjUVi7oPGv-Et7FWkBlvfqG0OxHV1sTNducztak-CNm5xHyGrptg2xcxMbgluN2bKZrXU80gZwg4hC2zI8eUrB0xamJZjk9gkhZzNSPg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
